<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!isSearchbarOpened">
      Add product
    </ion-title>
    <ion-searchbar
        *ngIf="isSearchbarOpened" 
        animated
        showCancelButton="true" 
        debounce="500"
        (ionChange)="onSearch($event)"
        (ionCancel)="isSearchbarOpened=false"
        [(ngModel)]="searchInput">
    </ion-searchbar>
    <ion-buttons *ngIf="!isSearchbarOpened" slot="primary">
      <ion-button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button href="/cart">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <!--<div text-center>
          <h4>Add Product</h4>
        </div>
      -->
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Name" #name></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Brand" #brand></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-list>
            <ion-item>
              <ion-label>Supermarket</ion-label>
              <ion-select value="Lider" ok-text="Okay" cancel-text="Dismiss" #super>
                <ion-select-option value="Lider">Lider</ion-select-option>
                <ion-select-option value="Jumbo">Jumbo</ion-select-option>
                <ion-select-option value="Unimarc">Unimarc</ion-select-option>
                <ion-select-option value="SantaIsabel">Santa Isabel</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="number" placeholder="Price" #price></ion-input>
          </ion-item>
          <ion-item>
            <ion-input required="true" disabled="false" type="text" placeholder="Barcode" #barcode></ion-input>
          </ion-item>
        </div>
        <div padding>
          
          <ion-button color="success" size="large" expand="block" (click)="create_product({ name: name.value, brand: brand.value, serial: barcode.value, picture: 'https://superimage.sfo2.digitaloceanspaces.com/1024px-No_image_available.svg.png', price: [{supermarketName: super.value, value: price.value}]})">Add</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
