<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button ion-button icon-only *ngIf="isSearchbarOpened" (click)="goToScan()">
        <ion-icon name="barcode"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!isSearchbarOpened">
      Add product
    </ion-title>
    <ion-searchbar
        *ngIf="isSearchbarOpened" 
        animated
        showCancelButton="true" 
        debounce="500"
        (ionChange)="onSearch($event)"
        (ionCancel)="isSearchbarOpened=false"
        [(ngModel)]="searchInput">
    </ion-searchbar>
    <ion-buttons *ngIf="!isSearchbarOpened" slot="primary">
      <ion-button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button href="/cart">
        <ion-icon slot="icon-only" name="basket"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <!--<div text-center>
          <h4>Add Product</h4>
        </div>
      -->
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Nombre" [(ngModel)]="product.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Marca" [(ngModel)]="product.brand"></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-list>
            <ion-item>
              <ion-label>Supermercado</ion-label>
              <ion-select placeholder="Seleccione Supermercado" [(ngModel)]="product.price[0].supermarketName">
                <ion-select-option *ngFor="let supermarket of listSupermarket"value="supermarket.name"> {{supermarket.name}} </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="number" placeholder="Precio" [(ngModel)]="product.price[0].value"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button *ngIf="isBarCode" color="success" size="large" expand="block" (click)="scanToAdd()">Codigo de Barras</ion-button>
            <ion-button *ngIf="isBarCode" color="success" size="large" expand="block" (click)="isBarCode=false">Ingresar Manualmente</ion-button>
            <ion-input *ngIf="!isBarCode" required="true" disabled="false" type="text" placeholder="Codigo de Barras" [(ngModel)]="product.serial"></ion-input>
            <ion-button *ngIf="!isBarCode" color="success" size="large" expand="block" (click)="isBarCode=true">Scanner</ion-button>
          </ion-item>
        </div>
        <div padding>
          <ion-button color="success" size="large" expand="block" (click)="create_product()">Add</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
